attrdict>=2.0.1
certifi>=2018.8.24
cffi>=1.14.0
chardet>=3.0.4
cloudpickle>=1.3.0
coloredlogs>=10.0
cycler>=0.10.0
Cython>=0.29.15
decorator>=4.4.1
keras<2.12,>=2.11.0
fasteners>=0.15
glfw>=2.5.0
grpcio>=1.24.3
grpcio-tools>=1.19.0
h5py
joblib>=1.0.0
MarkupSafe>=1.1.1
matplotlib>=3.1
memory-profiler>=0.55.0
monotonic>=1.5
networkx>=2.4
numpy>=1.18.1, ~=1.20
nengo-extras>=0.5
nengo
nengo-dl
pandas>=0.25.0
Pillow>=8.3.2
psutil>=5.7.0
pycparser>=2.19
pydmps>=0.2
pyparsing>=2.4.6
python-dateutil>=2.8.1
pytz>=2019.3
requests>=2.22.0
scipy>=1.4.1
six>=1.14.0
sympy>=1.5.1
toolz>=0.10.0
urllib3>=1.25.8
tensorflow~=2.11,>2.4,<2.12
tensorflow-gpu~=2.11,>2.4,<2.12
tensorboard<2.12,>=2.11
tensorflow-estimator<2.12,>=2.11.0
protobuf<3.20,>=3.9.2
packaging>=20.4
nengo-dl>=0.3.1
opencv-python>=4.2.0.34
